<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="app">hello</div>
    </canvas><canvas id="myChart"></canvas>
  </body>
  <script type="text/javascript" src="../../Chart.min.js"></script>
  <script type="text/javascript" src="../../models/schema.js"></script>
  <script type="text/javascript" src="../../models/layer.js"></script>
  <script type="text/javascript" src="../../models/share.js"></script>
  <script type="text/javascript" src="../../public/javascripts/chart.js"></script>
</html>
